@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    box-sizing: border-box;
}
img {
    display: block;
    max-width: 100%;
}
body {
    margin: 15;
    font-family: 'Roboto', sans-serif;
    background: black;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Mono', monospace;
}

.section__titulo {
    text-align: right;
    font-size: 40px;
    color: black;
}
.contenedor {
    margin: auto;
    width: 98%;
}

/*Estilos del header*/
.header {
    height: 100px;
    position: fixed;
    margin-left: 0;
    margin-top: 100;
    margin-right: 1000;
}
.header .contenedor {
    display: inline;
    justify-content: space-between;
    position: fixed;
    font-size: 15;
}
.logo, .icon-menu {
    margin: 5px;
    background: grey;
    color: black;
}
.icon-menu {
    width: 40px;
    height: 40px;
    font-size: 35px;
    background: grey;
    color: black;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    margin-left: 95%;
    cursor: pointer;
    position: fixed;
}
/*Estilos del menu*/
.nav {
  position: absolute;
  top: 70px;
  left: -10%;
  width: 20%;
  transition: all 0.8s;
}
.menu {
  list-style: none;
  padding: 0;
  margin: 0 ; 
  position: fixed;
}
.menu__link {
  display: block;
  padding: 20px;
  background: grey;
  text-decoration: none;
  color: black;
  
}
.menu__link:hover {
  background: black;
  color: grey;
}
.mostrar {
  left: 0;
  margin-right: 50%;
}
.select {
    background: white;
    color: red;
}
/*Estilos del banner*/
.banner {
    margin-top: -100px;
    position: relative;
    z-index: -1000;
}
.banner .contenedor {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    color: black;
    background: grey;
    text-align: center;
}

.banner__txt {
    display: none;
}

/*Estilos de info*/
.info__columna2 {
    background: gray;
    color: black;
    padding: 15px;
    margin-bottom: 30px;
    margin-left:25%;
    margin-right:25% ;
    margin-top: 20;
}
.info__columna {
    background: grey;
    color: black;
    padding: 15px;
    margin-bottom: 30px;
}
/*Estilos de cursos*/
.cursos__columna {
    position: relative;
}
.cursos__descripcion {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}
/*Estilos del footer*/

.footer{
    background: black;
    color: red;
    padding: 10px;
    text-align: center;
}

.footer .social [class^="icon-"] {
    display: inline-block;
    color: red;
    text-decoration: none;
    font-size: 30px;
    padding: 10;
    background: #2E2E2E;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
}