@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    box-sizing: border-box;
}
img {
    display: block;
    max-width: 100%;
}
body {
    margin: 15;
    font-family: 'Roboto', sans-serif;
    background: black;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Mono', monospace;
}

.section__titulo {
    text-align: right;
    font-size: 40px;
    color: black;
}
.contenedor {
    margin: auto;
    width: 98%;
}

/*Estilos del header*/
.header {
    height: 100px;
    position: fixed;
    margin-left: 0;
    margin-top: 100;
    margin-right: 1000;
}
.header .contenedor {
    display: inline;
    justify-content: space-between;
    position: fixed;
    font-size: 15;
}
.logo, .icon-menu {
    margin: 5px;
    background: white;
    color: black;
}
.icon-menu {
    display: fixed;
    width: 40px;
    height: 40px;
    font-size: 35px;
    background: white;
    color: black;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    margin-left: 90%;
    cursor: pointer;
    position: fixed;
}
/*Estilos del menu*/
.nav {
  position: absolute;
  top: 70px;
  left: -10%;
  width: 100%;
  transition: all 0.8s;
}
.menu {
  list-style: none;
  padding: 0;
  margin: 0 ; 
  float: right;
  position: fixed;
}
.menu__link {
  display: block;
  padding: 20px;
  background: white;
  text-decoration: none;
  color: black;
}
.menu__link:hover {
  background: black;
  color: white;
}
.mostrar {
  left: 0;
  margin-right: 50%;
}
.select {
    background: white;
    color: red;
}
/*Estilos del banner*/
.banner {
    margin-top: -100px;
    position: relative;
    z-index: -1000;
}
.banner .contenedor {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    color: white;
    background: black;
    text-align: center;
}

.banner__txt {
    display: none;
}

/*Estilos de info*/
h1 {
    color: #fff;
    text-align: center;
}

/*Estilos de la galeria*/

.galeria {
    width: 90%;
    margin: auto;
    list-style: none;
    padding: 20px;
    box-sizing: border-box;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galeria li {
    margin: 5px;
}

.galeria img {
    width: 150px;
    height: 100px;
}

/*Estilos del modal*/

.modal {
    display: none;
}

.modal:target {
    
    display: block;
    position: fixed;
    background: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal h3 {
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin: 15px 0;
}

.imagen {
    width: 100%;
    height: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen a {
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    margin: 0 10px;
}

.imagen a:nth-child(2) {
    margin: 0;
    height: 100%;
    flex-shrink: 2;
}

.imagen img {
    width: 500px;
    height: 100%;
    max-width: 100%;
    border: 7px solid #fff;
    box-sizing: border-box;
}

.cerrar {
    display: block;
    background: #fff;
    width: 25px;
    height: 25px;
    margin: 15px auto;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    padding: 5px;
    border-radius: 50%;
    line-height: 25px;
}
/*Estilos del footer*/

.footer{
    background: black;
    color: red;
    padding: 10px;
    text-align: center;
}

.footer .social [class^="icon-"] {
    display: inline-block;
    color: red;
    text-decoration: none;
    font-size: 30px;
    padding: 10;
    background: #2E2E2E;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
}